bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/FXServer/**/*.*
!/FXServer/**/*.gitkeep
/FXServer-Data/resources/fivepd
build-public/
build-insider/
FXServer-Data/db
FXServer-Data/imgui.ini
txData/
/*.bat
/**/Pages/*.css
/**/Documentation.xml
.idea/sonarlint
FivePD.JsonGenerator/FivePD.JsonGenerator.exe
/.vs
/FirstResponseMP.Build
